
  .group-list-view {
    cursor: pointer;
    width:100%;
    height: 2rem;
    display: flex;
    padding: 0 var(--margin-padding);
    align-items: center;
    font-size:var(--title-font-size);
    transition:.4s;
  }
  .group-list-view.active {
    font-weight:bold;
  }
  .group-list-view:hover {
    cursor:pointer;
    transition:.4s;
    width: 100%;
    background-color:rgba(0,0,0,0.5) 
  }
  .group-list-details {
    flex-basis: 80%;
    display: flex;
  }
  .group-count-section {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  .group-name-section {
    display: flex;
    align-items: center;
  }
