:root {
  --left-margin:.5rem;
  --secondary-title:#9ea2a8;
  --title-font-size:.75rem;
  --online:#26d198;
  --offline:#ccc;
  --contacts-bg-color:#2f343d;
  --default-menu-item-height:2rem;
  --contacts-section:14%;
  --margin-padding:.5rem;
}
body {
  margin: 0;
  padding: 0;
}

